<h1>Seaford Bowling Lanes App</h1>
<a href="Partials/View2.html"><button>Bowling Orders App</button></a>

<h2>Partners</h2>

                        <p>
                        Josh Horn<br>
                        Bola Akinmeji<br>
                        Diogo Oliveira<br>
                        Dennis Wessle<br>
                        </p>

                        <p>
			<a href="mainpage.html"> Main Page</a>
                	<br>
		        <a href="http://js.prof.ninja/projects/"> Project Page</a>
                        <br>
                        <a href="bowling.html">Bowling Alley Project</a>
			<br>
                        <a href="testphp.php"> Test php connection to the database </a>
			 
			<li> <a href="#/customers">Click here to go to Customers' registry </a>
			<li><a href="#/balls">Click here to go to the Ball Info Form</a>
			<li><a href="#/orders">Click here to go to the Order Info Form</a>


			</p>
	

